# Website related files
website/.hugo_build.lock
website/public/
website/themes/hugo-book/exampleSite
website/resources/_gen/assets/

# MacOS related files
.DS_Store

# Python related files
__pycache__/
*.pyc
application/data_and_features/__pycache__/fetch_data.cpython-312.pyc
